{{ $cover := .Site.Data.cover }}
    <section id="cover" class="cover p-lg-5 p-md-5 p-3">
      <div class="container h-100">
        <div class="d-flex h-100 align-items-center">
          <div>
            <h1 class="h1 text-light">{{ $cover.title }}</h1>
            <p class="text-light sub-heading">{{ $cover.description }}</p>
            <a href="{{ $cover.resume.href }}" class="btn btn-outline-light rounded-custom" download="{{ $cover.resume.download_name }}">{{ $cover.resume.text }}</a>      
          </div>
        </div>
      </div>
    </section>

